body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


main {
    width: 50%;
    height: 20%;
    text-align: center;
}

h2 {
    color: gray;
}